@font-face {
    font-family: 'Travaille-v4.95';
    src: url('../fonts/Travaille-v495-Regular.woff2') format('woff2'),
        url('../fonts/Travaille-v495-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Travaille-v4.95';
    src: url('../fonts/Travaille-v495-Thin.woff2') format('woff2'),
        url('../fonts/Travaille-v495-Thin.woff') format('woff');
    font-weight: 100;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family: 'Travaille-v4.95';
    src: url('../fonts/Travaille-v495-Medium.woff2') format('woff2'),
        url('../fonts/Travaille-v495-Medium.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

