<!-- Footer -->
<footer>
    <div class="grid-container project-preview">
        <div class="footer grid-x grid-margin-x align-justify">
            <div class="footer-copyright cell small-12 large-4">
                <p>©Antonio Marble 2020</p>
            </div>
            <div class="footer-nav">
                <ul class="footer-nav-menu cell small-12 large-4 menu">
                    <li class="email hide-for-small-only"><a href="#mailgo" data-address="i" data-domain="antoniomarble.com"><span class="email-i">i@</span>antoniomarble.com</a></li>
                    <li class="email show-for-small-only"><a href="#mailgo" data-address="i" data-domain="antoniomarble.com">Email</a></li>
                    <li class="divider">|</li>
                    <li><a href="https://www.instagram.com/antoniomarble/"><span class="hide-for-small-only">Instagram</span><span class="show-for-small-only">IG</span></a></li>
                    <li class="divider">/</li>
                    <li><a href="https://dribbble.com/amarble">Dribbble</a></li>
                    <li class="divider">/</li>
                    <li><a href="https://www.are.na/antonio-marble">Are.na</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>