<div class="top-bar">
    <div class="top-bar-left">
      <a href="./" class="logo">
        {{#unlesspage '404'}}
          <img src="{{root}}assets/img/am-logo-invert.svg" alt="Antonio Marble" width="152" height="107" />
        {{/unlesspage}}
        {{#ifpage '404'}}
          <img src="{{root}}assets/img/am-logo-dark.svg" alt="Antonio Marble" width="152" height="107" />
        {{/ifpage}}  
      </a>
    </div>
    {{#ifpage 'index'}}
      <a href="./about" class="info"><img src="{{root}}assets/img/info.svg" alt="Info" class="info-img" /></a>
    {{/ifpage}}
    {{#ifpage 'about'}}
      <a href="./" class="back-button cta" id="cta"><img src="{{root}}assets/img/back-button.svg" alt="Back" /></a>
    {{/ifpage}}
    {{#ifpage '404'}}
      <a href="./" class="back-button cta" id="cta2"><img src="{{root}}assets/img/back-button-purp.svg" alt="Back" /></a>
    {{/ifpage}}

</div>