<!-- Loader -->
<div class="grid-container" id="loading-screen">
  <div class="grid-x grid-margin-x">
    <img src="{{root}}assets/img/branding.svg" alt="Antonio Marble" class="load-img" />
    <span id="loading-text" class="load-img small-6">
      <span class="loading-letter">L</span>
      <span class="loading-letter">O</span>
      <span class="loading-letter">A</span>
      <span class="loading-letter">D</span>
      <span class="loading-letter">I</span>
      <span class="loading-letter">N</span>
      <span class="loading-letter">G</span>
    </span>
  </div>
</div>